{% extends 'base.html' %}

{% block styles %}
{{super()}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
{% endblock %}
 
<!-- Content block -->
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-6-md">
    
           <h1 class="text-center">Helo K</h1>
                <div class="cards">
                <h3 class="card-title">General</h3>
                {% for general_news in general %}
                               
                    <h4 class="card-body h4 mb-4">{{general_news.name}}</h4>  
                    <a href="/article/{{general_news.id}}" class="btn btn-outline-primary" target="_blank" style="color: red;">
                        Go there  </a>
                            
                {% endfor %}
            </div>
            

            
                <!---sports news-->
                <h3> Sports news</h3>
                {% for sports_news in sports %}
                <li>{{  sports_news.name}}</li>
 
                    <a href="/article/{{sports_news.id}}" target="_blank" style="color: blue;">
                        Go there  
                    </a>
                
            {% endfor %}
            <br>

            
                <h3> Business news</h3>
                {% for business_news in business %}
                <li>{{  business_news.name}}</li>

                    <a href="/article/{{business_news.id}}" target="_blank" style="color: green">
                        Go there  
                    </a>
            {% endfor %}
            <br>
                <!---Technology news--->
                <h3> Technology news</h3>
                {% for technology_news in technology %}
                <li>{{  technology_news.name}}</li>
                
                <a href="/article/{{technology_news.id}}" target="_blank" style="color: blue;">
                    Go there  
                </a>
            {% endfor %}
            <br>

            <style>
                h1{
                    color: black;
                    font-weight: bolder;
                    font-size: 50px;
                    padding: 30px;
                }

            </style>
            {% endblock %}
        </div>
    </div>
</div>